/ProcessData/data
/ProcessData/*.json
*.json
*.pyc
*.jl
/ProcessData/process
/ProcessData/*.jl
/batdongsan/settings.py
/crawls
ProcessData/remove_mzs.txt
WebProcess/map.kml
WebProcess/out.svg
cralws/123nhadat-1/requests.seen
cralws/123nhadat-1/requests.queue/p0
ProcessData/test.txt